<!Doctype html>
<html>
	<head>
		<title>The rhetorical race</title>

		<script src="index.js"></script>
		<script src="j-objects.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="wrapper">
	  	<h1 id="header">The rhetorical race : {{level}}</h1>
	  <div id="prompt" class="division">
	    <p>{{promptMe}}</p>
	  </div>
	  <div id="options" class="division">
		  <ul>
		    <li>choose:</li>
		    <li v-for="pr in opt">{{pr.text}}</li>
		  </ul>
		</div>
		  <input autofocus v-model="comm" type="text" id="commands">
		</div>
	</body>
</html>
